:root {
  --primary-color: #005e5a;
  --secondary-color: #024c3b;
  --tertiary-color: #0d3827;
}

body {
  color: #fff;
  background-color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-image: url("./hero-image.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
  font-size: 20px;
  border-radius: 10px;
}

header h1 {
  text-shadow: 4px 4px 8px #0d3827;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 4px 4px 8px #0d3827;
}

header nav {
  display: flex;
}

header nav p {
  padding: 30px;
}

header nav p a:hover {
  background-color: var(--tertiary-color);
  border-radius: 15px;
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLES */
#hero {
  background-image: url("./hero-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80%;
  height: 800px;
  padding: 20px 35px;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}
/* HERO STYLES END */

/* SECTIONS STYLES */
.section-title {
  text-shadow: 4px 4px 8px #0d3827;
  padding: 30px;
}
/* SECTION STYLES END */
/* ABOUT STYLES */
.about {
  background-color: var(--primary-color);
  margin: 50px auto;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 30px;
  border-radius: 10px;
}

.about img {
  border-radius: 20px;
  box-shadow: 4px 4px 8px black;
  float: right;
  margin: 0px 30px;
}

.about p {
  float: right;
  text-shadow: 4px 4px 8px #0d3827;
}
/* ABOUT STYLES END */

/* PORTFOLIO STYLE */
.projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin: 50px auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 30px;
  border-radius: 10px;
}

.run-buddy img,
.generate-date img {
  border-radius: 20px;
  box-shadow: 4px 4px 8px black;
  float: left;
  margin: 30px;
}

.resume img {
  border-radius: 50%;
  box-shadow: 4px 4px 8px black;
  margin: 30px;
}
/* PORTFOLIO STYLE END */

/* CONTACT STYLE */
.contact {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  text-shadow: 4px 4px 8px #0d3827;
  padding-bottom: 20px;
  margin: 50px auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 30px;
}

/* .contact-info {
  display: flex;
} */

.contact-info a {
  padding: 20px;
  text-decoration: none;
  color: #fff;
  text-shadow: 4px 4px 8px #0d3827;
  font-weight: bold;
  margin: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.contact-info a:hover {
  background-color: var(--tertiary-color);
  border-radius: 15px;
}
/* CONTACT STYLE END */

/* FOOTER STYLES START */
footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: 12px;
  font-weight: 100px;
  text-align: center;
  text-shadow: 4px 4px 8px #0d3827;
}

/* MEDIA QUERY */
/* @media screen and (max-width:980px)  */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  heaver nav {
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .about {
    width: 50%;
    padding: 30px;
  }

  .projects {
    width: 50%;
    padding: 30px;
    text-align: center;
  }

  .contact {
    width: 50%;
    padding: 30px;
    /* text-align: center; */
  }

  footer {
    width: 100%;
  }
}
/* @media screen and (max-width: 768px) */
@media screen and (max-width: 768px) {
}
/* @media screen and (max-width: 575px) */
@media screen and (max-width: 575px) {
}
