:root {
  --primary-color: #005e5a;
  --secondary-color: #024c3b;
  --tertiary-color: #0d3827;
}

/* *box sizing, margin, padding? */

body {
  color: #fff;
  background-color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-image: url("../natasharrison.github.io/hero-image.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  text-shadow: 4px 4px 8px #0d3827;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 4px 4px 8px #0d3827;
}

header nav ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a:hover {
  background-color: var(--primary-color);
  border-radius: 15px;
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLES */
/* how to make the background similar to RunBuddy? take up more space */
.hero {
  background-image: url("../natasharrison.github.io/hero-image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}
/* HERO STYLES END */

/* ABOUT STYLES */
.about {
  background-color: var(--primary-color);
  margin: 50px auto;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* how to float the image to the right */

.about img {
  border-radius: 20px;
  box-shadow: 4px 4px 8px black;
}
/* ABOUT STYLES END */

/* PORTFOLIO STYLE */
.run-buddy img {
  border-radius: 20px;
  box-shadow: 4px 4px 8px black;
}

.resume img {
  border-radius: 50%;
  box-shadow: 4px 4px 8px black;
}

.coming-soon img {
  border-radius: 50%;
  box-shadow: 4px 4px 8px black;
}
/* PORTFOLIO STYLE END */

/* CONTACT STYLE */
.contact {
  background-color: var(--primary-color);
}

.contact ul li:hover {
  background-color: var(--primary-color);
  border-radius: 15px;
}

/* CONTACT STYLE END */

/* FOOTER STYLES START */
footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  text-shadow: 4px 4px 8px #0d3827;
}
